{% extends "admin.home.layout.twig" %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}  
<div class="form-container dashboard-link">
    <div class="dashboard-title">
        <div class="row">
            <div class="col-sm-12 link-main-title">
               欢迎
            </div>
        </div>
    </div>
</div>
{% endblock %}  