{% extends "home.layout.twig" %}
{% block browserTitle %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block content %}
	<div>
		<div class="fh5co-cover fh5co-cover_2 text-center" style="background-image: url(./public/img/banner-bg.jpg);background-size:cover;height:500px;">
		</div>
	</div>
    <div id="fh5co-services">
		<div class="container">
			<div class="row row-bottom-padded-lg wow fadeInUp" data-wow-duration="1s">
				<div class="col-md-4">
					<img class="img-responsive center-block" src="./public/img/slider4.jpg" style="margin-top:110px;">
				</div>
				<div class="col-md-8">
					<h2>Web Development</h2>
					<p>Gulp工具是一款前端项目的自动化构建工具，其主要特点可以归纳为以下四点：易于使用、构建快速、插件高质、易于学习。第一，本着代码由于配置的策略，Gulp构建工具让开发者的任务变得简单，复杂的业务逻辑变得清晰可管理。</p>
					<ul>
						<li>SASS编译</li>
						<li>代码合并、压缩</li>
						<li>丰富的外部资源</li>
						<li>自动编译</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg wow fadeInUp">
				<div class="col-md-3 col-md-push-8">
					<img class="img-responsive center-block" src="./public/img/slider2.jpg" style="margin-top:110px;">
				</div>
				<div class="col-md-7 col-md-pull-3">
					<!-- <h4 class="fh5co-number">02.</h4> -->
					<h2>Bootstrap</h2>
					<p>随着用户对移动设备的大量使用，巨大的分辨率差别让古老的PC页面不能很好地展现在分辨率参差不齐的移动设备上。CSS3的媒体查询可以通过监测页面宽度从而选择加载不同的样式，基于媒体查询的方式Bootstrap将这一功能进行封装，让开发者能过通过添加不同的类名控制页面显示方式</p>
					<ul>
						<li>Web Design</li>
						<li>类库</li>
						<li>响应式</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg wow fadeInUp">
				<div class="col-md-4">
					<img class="img-responsive center-block" src="./public/img/slider3.jpg" style="margin-top:110px;">
				</div>
				<div class="col-md-8">
					<h2>Node &amp; NPM</h2>
					<p>利用NodeJs的强大的威力，开发者可以通过简单的代码配置与命令行操作在简化频繁IO操作的基础上快速构建项目。Gulp的资源依赖同样可以通过基于Node.Js的NPM安装，丰富的外部资源为开发提供了极大的便利性。</p>
					<ul>
						<li>NPM</li>
						<li>第三方依赖</li>
						<li>快速构建</li>
						<li>完善的资源</li>
					</ul>
				</div>
			</div>

			<div class="row row-bottom-padded-lg wow fadeInUp">
				<div class="col-md-3 col-md-push-8">
					<img class="img-responsive center-block" src="./public/img/course2.jpg" style="margin-top:110px;">
				</div>
				<div class="col-md-7 col-md-pull-3">
					<h2>GitHub</h2>
					<p>GitHub是一个面向开元以及私有软件项目的托管平台，在如今世界互联网软件高速发展的格局下，GitHub成为了绝大多数公司项目代码托管平台。基于其优秀的代码管理功能，让软件开发公司代发过程中的多人合作，代码检查，代码上传下载等等基础功能变得极其便利与高效。</p>
					<ul>
						<li>代码托管</li>
						<li>Pull Request</li>
						<li>开源项目</li>
					</ul>
				</div>
			</div>
			<div class="row row-bottom-padded-lg wow fadeInUp" style="margin-bottom:50px;">
				<div class="col-md-4">
					<img class="img-responsive center-block" src="./public/img/slider1.png" style="margin-top:110px;">
				</div>
				<div class="col-md-8">
					<h2>SASS</h2>
					<p>网站前端样式渲染的CSS并不是一种编程语言，我们把它称作样式表，开发者可以用其开发样式，但是不能将编程思想运用其中。而Sass的出现恰恰是为了解决这个问题，Sass是一种CSS预处理器，其基本思想是利用一种专门的编程语言，进行网页样式设计，然后再将它编译成正常的CSS文件。</p>
					<ul>
						<li>CSS</li>
						<li>程序化思想</li>
						<li>编译</li>
						<li>独立功能</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}