{% extends "home.layout.twig" %}
{% block browserTitle %}{{ title }}{% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block content %}
    <!-- banner -->
    <div class="c-banner">
        <div class="c-banner__turn c-banner__turn-one"></div>
        <div class="c-banner__turn c-banner__turn-two"></div>
        <div class="c-banner__layer">
            <div class="container">
                <h2 class="c-banner__title text-center wow fadeInUp
					data-wow-duration="0.7"
                >
                personal website
                </h2>
                <div class="c-banner__des text-center wow fadeInUp"
                     data-wow-duration="1s" data-wow-delay="0.7s"
                >
                    think smart , make your own style
                </div>
                <div class="col-md-12 c-banner__buttons center-block wow fadeIn"
                     data-wow-duration="1.6s" data-wow-delay="1s">
                    <a class="roll-bar c-banner__button-about c-banner__button scroll-btn"
                       data-scroll="introduce">about website</a>
                    <a class="roll-bar c-banner__button-contact c-banner__button scroll-btn"
                       data-scroll="contact">contact me</a>
                </div>
            </div>
        </div>
    </div>
    <!-- intr -->
    <div class="c-intr">
        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration=".7s">
                <div class="col-md-4 text-center c-intr__con">
                    <a href="/blog">
                        <img class="c-intr__img" src="/public/img/intr1.png" alt="">
                        <h4 class="c-intr__title">博客文章</h4>
                    </a>
                    <p class="c-intr__text">分享知识与所见所闻，收集前沿或联网技术。在这里，你看到的是一个前端工程师学习路程上的收获与感触，希望正在浏览文章的你能够给出合适的意见与建议。</p>
                </div>
                <div class="col-md-4 text-center c-intr__con">
                    <a href="/photo">
                        <img class="c-intr__img" src="/public/img/intr2.png" alt="">
                        <h4 class="c-intr__title">摄影展示</h4>
                    </a>
                    <p class="c-intr__text">摄影是最直接的视觉冲击，好的作品能够带给欣赏者强大的心灵冲击，这里展示了博主摄影修图路上的部分作品，希望与广大网友分享自己的兴趣。</p>
                </div>
                <div class="col-md-4 text-center c-intr__con">
                    <a href="/course">
                        <img class="c-intr__img" src="/public/img/intr3.png" alt="">
                        <h4 class="c-intr__title">技术展示</h4>
                    </a>
                    <p class="c-intr__text">HTML5的快速发展以及硬件设备的发展使得Web项目化的工作流程深首每个开发者喜爱，本项目中用到了目前市面流行的开发构建方式，在此展示。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 技术文章 -->
    <div class="section c-portion" id="introduce">
        <div class="container c-portion__head">
            <div class="row">
                <div class="container">
                    <h3 class="c-portion__main-title text-center">技术文章</h3>
                    <p class="text-center">在技术分享中不断成长</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-7">
                <img class="c-portion__blog-pic1 hidden-xs wow fadeInUp"
                     src="/public/img/blog-intr2.png" alt=""
                     data-wow-duration="1s" data-wow-delay="0.5s">
                <img class="c-portion__blog-pic2 hidden-xs wow fadeInUp"
                     src="/public/img/blog-intr1.png" alt=""
                     data-wow-duration="1s" data-wow-delay="0.8s">
            </div>
            <div class="col-md-5 c-portion__description wow fadeInRight"
                 data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="c-portion__lable">技术在于分享</div>
                <h2 class="c-portion__blog-title">the blog article part</h2>
                <p>文章内容主要设计范围为互联网编程技术，侧重前端与PHP。另外包含少量学习心得以及技术发展文章，设计范围较广，但侧重点突出。阅读者可通过页面下方与博主取得联系，发表个人技术意见。</p>
            </div>
        </div>
    </div>
    <!-- 摄影图片 -->
    <div class="section c-portion">
        <div class="container c-portion__head">
            <div class="row">
                <div class="container">
                    <h3 class="c-portion__main-title text-center">摄影展示</h3>
                    <p class="text-center">摄影作品展示，让生活充满光影色彩</p>
                </div>
            </div>
        </div>
        <div class="container c-portion__photo-wrap wow fadeIn" data-wow-duration="3s">
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo1.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2016年夏</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">家乡的牌楼</h4>
                <p>有着家乡人民期望风调雨顺的愿望</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo2.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2014年冬</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">中性灰磨皮</h4>
                <p>通过调整人物脸部光影进行磨皮</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo3.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2015年冬</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">三傻</h4>
                <p>通过后期达到戏剧性的效果</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo4.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2016年春</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">角楼</h4>
                <p>九峰山阴天云雾中的角楼透着沧桑</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo5.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2015年冬</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">漂浮</h4>
                <p>透过后期多张照片合成形成漂浮效果</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo6.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2016年冬</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">个人头像</h4>
                <p>透过后期制作多重曝光效果</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo7.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2016年春</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">背影</h4>
                <p>我看着温正龙爬上月台。。。</p>
            </div>
            <div class="col-md-3 col-sm-6 c-portion__photo">
                <div class="c-portion__photo-pic" style="background:url(./public/img/demo8.jpg) no-repeat;background-size:cover;">
                    <div class="c-portion__photo-layer">
                        <div class="c-portion__photo-button">
                            <span class="c-portion__photo-btn-text">2016年春</span>
                        </div>
                    </div>
                </div>
                <h4 class="text-center c-portion__photo-title">春芽</h4>
                <p>枯木逢春，早春的枝头已是绿色点点</p>
            </div>

        </div>
    </div>
    <!-- 网站脉络 -->
    <div class="section c-portion">
        <div class="container">
            <div class="row">
                <div class="container c-portion__head">
                    <h3 class="c-portion__main-title text-center">技术展示</h3>
                    <p class="text-center">技术内容介绍技术内容介绍技术内容介绍</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="c-portion__slider col-sm-8 col-sm-offset-2">
                <div class="swiper-container wow fadeInDown">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./public/img/slider1.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./public/img/slider2.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./public/img/slider3.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="./public/img/slider4.jpg" alt="">
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
